<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension-point id="JustificationService" name="Justification Service" schema="schema/JustificationService.exsd"/>

	<extension-point id="JustificationPreferences" name="Justification Preferences" schema="schema/JustificationPreferences.exsd"/>

	<extension id="PresentationService" point="org.protege.editor.owl.explanation">
		<name value="Justifications" />
		<class value="org.liveontologies.protege.explanation.justification.PresentationService" />
	</extension>

	<extension id="InconsistentOntologyPresentationService" point="org.protege.editor.owl.inconsistentOntologyExplanation">
		<name value="Inconsistent Ontology Justification-Based Explanation" />
		<class value="org.liveontologies.protege.explanation.justification.InconsistentOntologyPresentationService" />
	</extension>

	<extension id="JustificationPreferences" point="org.protege.editor.core.application.explanationpreferencespanel">
		<label value="Justifications" />
		<class value="org.liveontologies.protege.explanation.justification.preferences.JustPrefPanel" />
	</extension>

	<extension id="JustificationGeneralPreferences" point="org.liveontologies.protege.explanation.justification.JustificationPreferences">
		<label value="General" />
		<class value="org.liveontologies.protege.explanation.justification.preferences.JustificationPreferencesGeneralPanel" />
	</extension>

</plugin>
